.signupform {
  padding-right: 20px;
  padding-bottom: 40px;
  justify-content: space-between;
}

.signupform input {
  width: 160px;
}

.signupform button {
  margin-left: 15px;
  width: 80px;
}

.btn-cancel {
  margin-left: 30px;
}

.row-container {
  display: flex;
}

.contact-container {
  margin-top: 100px;
}
