.signup-password-input {
  display: flex;
  margin-top: 50px;
}

.signup-password-input input {
  width: 200px;
}

.password {
  flex: 1;
  position: relative;
}

.helper-text-container {
  position: absolute;
  left: 15px;
  bottom: -90px;
}

.helper-text {
  margin: 0;
  padding: 0;
}

.confirm-password {
  flex: 1;
}
