.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.center-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  color: var(--green);
}