.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Left */
.image-upload-container {
  display: flex;
  flex-direction: column;
}

.image-uploader {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.actions {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions button {
  width: 200px;
  margin: 10px;
}


/* Right */
.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.details__item {
  display: flex;
  margin-bottom: 20px;
}

.details__item:first-of-type {
  margin-top:5px;
}

.date-input {
  min-width: 235px;
}

.date-input:first-of-type {
  margin-right: 30px;
}

.input-container {
  margin-bottom: 10px;
}

.input-container:last-of-type {
  margin: 0;
}

.input {
  height: 53px;
  width: 100%;
}

.field {
  margin-right: 30px;
}

.select-menu {
  flex: 1;
  display: flex;
  padding: 10px 20px 10px;
}

.select-item {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
}

.icon {
  margin-top: 8.5px;
  margin-right: 20px;
}

.details__item__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.details__item__content:first-of-type {
  padding-top: 5px;
}

.details__item__content__row {
  display: flex;
  justify-content: space-between;
}


.notes {
  flex: 1;
  display: flex;
}